/* FLEXBOX & GRI CLASS */

body{
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    min-height: 100vh;
}

main nav{
    flex: 0.3;
    padding: 20px;
    background-color:  palevioletred;
}

main div{
    flex: 2;
}

main div header{
    padding: 20px;
    flex: 1;
    background-color: burlywood;
}

main .content{
    display: flex;
    min-height: 70vh;
}

main .content article{
    flex: 2;
    padding: 20px;
    background-color: plum;
}

main .content aside{
    flex: 1;
    padding: 20px;
    background-color: purple;
}

main footer{
    padding: 20px;
    background-color: wheat;
}