body{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Untuk ubah style Header */
#header{
    background-color: chocolate;
    text-align: center;
    padding: 10px;
}

#header h1{
    color: blue;
}

#header blockquote{
    background-color: red;
    border: 3px dotted black;
}
h1{
    color: orange;
}
.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.gambar{
    text-align: center;
}
.gambar img{
    width: 20%;
}
.koleksi{
    text-align: center;
}
.koleksi img{
    width: 20%;
}

.promo{
    color:orangered;
    text-align: center;